/*
https://ssl.gstatic.com/translate/buttons11.png
 */

.t-100-m__info {
    position: absolute;
    display: block;
    float: left;
    padding: 3px 4px;
    margin: 4px;
    color: #333;
    border: 1px solid #666;
    background: #fff;
    border-radius: 3px;
    top: 16px;
    left: 16px;
    z-index: 1000;
}
//@import "save-button.component/save-button";
//@import "list.component/list";